version: "3"
services:


  imixssample-app:
    image: imixs/imixs-admin
    environment:
      WILDFLY_PASS: adminadmin
      DEBUG: "true"
    ports:
      - "8080:8080"
      - "8787:8787"
      - "9990:9990"
    volumes:
      - ~/git/imixs-admin/src/docker/deployments:/opt/wildfly/standalone/deployments/    
 

    
 