html, body, div, p, h1, h2, h3, ul, ol, span, a, table, td, form, img,
	li {
	color: #444;
}

/* Ajax loader */
.imixs-wait {
   	display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('./ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}
body.loading .imixs-wait {
    display: block;
}

#header {
	min-height: 70px;
	background: transparent;
	display: block;
	font-size: inherit;
	font-weight: inherit;
	padding: inherit;
}

#container {
	min-height: 600px;
}

#footer2 {
	text-align: right;
	margin-right: 2em;
}
#footer1{
	text-align: left;
	margin-right: 2em;
}

 #footer1 a{ 
    color: #428BCE;
 }
 
 
/**********************************************
 * IMIXS Styles 
 **********************************************/
#imixs-servicenav {
	clear: both;
	padding: 10px 0 0 0px;
	text-align: left;
	font-size: 14px;
	background: #FCB802;
	border: 0px;
	margin: 0px 0 1px 0;
	border-bottom: 1px solid #FFF;
	border-top: 0px solid #FFFFFF;
	color: #524100;
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	z-index: 5
}

#imixs-servicenav ul {
	list-style-type: none;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
	line-height: 18px;
}

#imixs-nav {
	border-top: 1px solid #fff;
	font-size: 12px;
}

#imixs-nav ul {
	margin-top: 2px;
	margin-left: 28px;
}

#imixs-nav li {
	list-style: none;
	display: inline;
	color: #2D302C;
	padding: 5px 20px 5px 10px;
	margin: 0;
}

#imixs-nav li.active {
	background: #EEE;
}

#imixs-nav li:HOVER {
	background: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

#imixs-nav li a {
	color: #2D302C;
}

#imixs-nav li a:HOVER {
	
}

.imixs-menubar {
	background-color: #FCB802;
	background-image: none;
	border: 0px;
}

#ximixs-sidebar {
	border-color: silver;
	border-style: dashed dashed dashed solid;
	border-width: 0px 0px 0px 0px;
	float: right;
	font-size: 11px;
	margin: 10px 0px 0px;
	padding: 1em;
	width: 300px;
}

/* Responsive */

/* Pad wide */
@media only screen and (max-width: 924px) {
	#imixs-servicenav {
		white-space: nowrap;
	}
	#imixs-servicenav ul {
		margin-left: -30px;
	}
	#imixs-nav {
		padding-left: 28px;
		white-space: nowrap;
	}
	#imixs-nav ul {
		xpadding-left: 0px;
	}
}

/* pad small */
@media screen and (max-width: 768px) {
}

/* Phone */
@media screen and (max-width: 480px) {
	#imixs-servicenav {
		white-space: nowrap;
	}
	#imixs-servicenav ul {
		margin-left: -30px;
	}
	#imixs-nav {
		padding-left: 0;
		white-space: nowrap;
	}
	#imixs-nav ul {
		padding-left: 0px;
	}
}

/*** Form Definitions ****/
dl {
	margin: 0;
	vertical-align: top;
}

dl dd input[type="text"],dl dd select, .imixs-form-section-2 dd input[type="password"],
	.imixs-form-section-2 dd select {
	width: 100%;
}

dd textarea {
	width: 100%;
	height: 8em;
}

.imixs-form-section dd, .imixs-form-section-2 dd {
	margin-left: 0px;
}

/* Simulation row */
.imixs-form-section, .imixs-form-section-2, .imixs-form-section-3 {
	clear: both;
	width: 100%;
}

.imixs-form-section:after, .imixs-form-section-2:after,
	.imixs-form-section-3:after {
	content: ".";
	display: block;
	clear: left;
	height: 0;
	visibility: hidden;
}

/* Simulation col-12 */
.imixs-form-section dl {
	clear: both;
	width: 100%;
	display: inline-block;
	float: none;
	min-height: 1px;
	position: relative;
	left: 0;
	padding: 0 0 10px 0;
}

/* Simulation col-6 */
.imixs-form-section-2 dl {
	margin: 0;
	width: 49%;
	display: inline-block;
	min-height: 1px;
	position: relative;
	padding: 0 10px 10px 0;
}

.imixs-view a, .imixs-view a  span {
	color: #428bca;
}

#imixs-error {
	margin: 20px 0;
	color: #fff;
}

#imixs-status {
	margin: 10px 0;
	color: #fff;
}

#imixs-status .ui-state-highlight {
	background: #a6ffbb;
	border-color: green;
}

#imixs-log {
	margin: 20px 0;
}

#imixs-error p, #imixs-log p, #imixs-status p {
	margin: 10px;
}

#imixs-error p {
	color: #fff;
}

#imixs-error .ui-icon, #imixs-log .ui-icon {
	margin: 0.2em;
}

@media screen and (max-width: 768px) {
	.imixs-form-section-2 dl {
		clear: both;
		float: none;
		width: 100% !important;
		max-width: 738px !important;
		left: 0;
		text-align: left;
	}
}

/* Simulation col-4 */
.imixs-form-section-3 dl {
	margin: 0;
	width: 33.3333%;
	display: inline-block;
	float: left;
	min-height: 1px;
	position: relative;
	padding: 0 10px 10px 0;
}

@media screen and (max-width: 768px) {
	.imixs-form-section-3 dl {
		clear: both;
		float: none;
		width: 100% !important;
		max-width: 738px !important;
		left: 0;
		text-align: left;
	}
}