<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="text/javascript" http-equiv="Content-Script-Type" />
<meta content="text/css" http-equiv="Content-Style-Type" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<title>Imixs-Admin Client</title>


<!-- Fonts
    ================================================== -->
<link rel="stylesheet" type="text/css" href="css/fonts/open_sans.css" />
<link rel="stylesheet" type="text/css" href="css/fonts/typicons.css" />

<!-- jquery 
    ================================================== -->

<script type="text/javascript" src="js/jquery/jquery-2.1.4.min.js"></script>



<!-- Imixs-script -->
<script src="js/imixs-core.js"></script>
<script src="js/imixs-xml.js"></script>

<!-- vue -->

<script type="text/javascript" src="js/vue_2.6.10.js"></script>



<script src="imixs-admin.js"></script>

<!-- Style
    ================================================== -->
<link rel="stylesheet" href="css/imixs-basic.css" />
<link rel="stylesheet" href="css/imixs-layout.css" />
<link rel="stylesheet" href="css/imixs-admin.css" />




</head>
<body>
	<div id="app">
		<nav>
			<!-- Sidebar -->
			<div class="nav-sidebar">


				<div class="nav-title">
					<h4>
						<a
							href="#" v-on:click="showSection('connect')">
							<label>Imixs-Admin</label>
						</a> <span class="pull-right typcn typcn-th-menu-outline"
							style="margin-right: 10px; cursor: pointer; margin-bottom: 20px;"
							onclick="togglemenu();"></span>
					</h4>

					<small><label>v5.1.6</label></small>


				</div>
				
				<ul>
					<li class="nav-item" v-on:click="showSection('connect')"><span
						class="typcn typcn-cog"></span><label>Connect</label></li>
				</ul>
				<hr />
				<ul>
					<li class="nav-item" v-on:click="showSection('search')"><span
						class="typcn typcn-zoom-outline"></span><label>Search</label></li>
				</ul>
				<hr />
				<ul>
					<li class="nav-item" v-on:click="showSection('bulkupdate')"><span
						class="typcn typcn-edit"></span><label>Update</label></li>

					<li class="nav-item" v-on:click="showSection('bulkdelete')"><span
						class="typcn typcn-trash"></span><label>Delete</label></li>

					<li class="nav-item" v-on:click="showSection('adminp')"><span
						class="typcn typcn-spanner"></span><label>Admin-P</label></li>

					<li class="nav-item" v-on:click="loadModels()"><span
						class="typcn typcn-flow-merge"></span><label>Models</label></li>
						
					<li class="nav-item" v-on:click="showSection('index')"><span
						class="typcn typcn-map"></span><label>Index</label></li>
						
					<li class="nav-item" v-on:click="showSection('eventlog')"><span
						class="typcn typcn-th-list"></span><label>Event Log</label></li>
				</ul>
				<hr />
				<ul>

					<li class="nav-item" v-on:click="showSection('export')"><span
						class="typcn typcn-upload-outline"></span><label>Export</label></li>

					<li class="nav-item" v-on:click="showSection('import')"><span
						class="typcn typcn-download-outline"></span><label>Import</label></li>

				</ul>



			</div>
		</nav>

		<!-- Page Content -->
		<div class="content">

			<div class="header">
				<form>
					<div class="row">
						<div class="col-4">
							<span><strong>API: </strong><span
								v-show="connection_status >= 300"
								class="typcn typcn-warning error"></span><span
								v-show="connection_status < 200"
								class="typcn typcn-world-outline"></span><span
								v-show="connection_status == 200"
								class="typcn typcn-world-outline success"></span> {{api}}</span> <span
								class="typcn typcn-cog" v-on:click="showSection('connect')"></span>
							<span class="typcn typcn-power" v-on:click="logout()"></span>
						</div>
						<div class="searchbox col-4">
							<input v-model="query_short" id="quick_search"></input><span
								class="typcn typcn-zoom-outline" v-on:click="quickSearch()"></span>
						</div>
						<div class="linkbox col-4">
							<div class="pull-right">
	
								<ul>
									<li><a href="https://www.imixs.org" target="_blank"><span
											class="typcn typcn-mortar-board"></span></a></li>
	
									<li><a href="https://github.com/imixs" target="_blank"><span
											class="typcn typcn-social-github"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				
				</form>

			</div>


			<div id="imixs-content" class="main-container">
				<form>


				<!--  CONNECT Part -->
				<div id="connect" class="form-section">
					<div class="card">
						<h2> 
							<span class="typcn typcn-link-outline"></span> Connection
						</h2>
						<p>Connect to an Imixs-Workflow API endpoint.</p>
						<div class="imixs-form-section">
							<dl>
								<dt>URL:</dt>
								<dd>
									<input type="text" autocomplete="url" name="url" v-model="api"
										placeholder="enter api endpoint">
								</dd>
							</dl>
						</div>
						<div class="imixs-form-section-2">
							<dl>
								<dt>Authentication Method:</dt>
								<dd>
									<select name="authentication" v-model="auth_method">
										<option value="JWT">Token</option>
										<option value="BASIC" selected="selected">Basic</option>
										<option value="FORM">Form</option>
									</select>
								</dd>
							</dl>
							<dl v-show="auth_method == 'JWT'">
								<dt>Token:</dt>
								<dd>
									<input type="password" id="token-input"
										placeholder="Bearer Token" v-model="auth_secret" name="token">
								</dd>
							</dl>
						</div>
						<div class="imixs-form-section-2" v-show="auth_method != 'JWT'">
							<dl>
								<dt>UserID:</dt>
								<dd>
									<input type="text" autocomplete="userid" name="userid"
										placeholder="enter username" v-model="auth_userid">
								</dd>
							</dl>
							<dl>
								<dt>Password:</dt>
								<dd>
									<input type="password" id="password-input"
										placeholder="enter password" v-model="auth_secret"
										name="password">
								</dd>
							</dl>
						</div>
						<button type="button" v-on:click="apiConnect();">Connect</button>
					</div>


				</div>




				<!-- Search -->
				<div id="search" class="form-section">
					<div class="card">
						<h2 style="position: relative;">
							<span class="typcn typcn-zoom-outline"></span> Search Query
							
							<span class="tooltip " style="font-size:1.1rem;position: absolute;bottom: 0;right: 0;">
							<span class="typcn typcn-lightbulb"></span>
							<span class="tip">To search for documents you can either use the <i>Lucene Search Query</i> syntax or you can use the <i>Java Persistence Query Language</i>. Find more on www.imixs.org</span>
							 </span>
						</h2>
						<textarea class="search-query" v-model="query" spellcheck="false"></textarea>

						<div class="row nested">

							<dl class="col-3">
								<dt>Page Size:</dt>
								<dd>
									<input type="text" v-model="page_size" name="pageSize"
										style="width: 7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Page Index:</dt>
								<dd>
									<input type="text" v-model="page_index" name="pageIndex"
										style="width: 7em;">
								</dd>
							</dl>

							<dl class="col-3">
								<dt>Sort By:</dt>
								<dd>
									<input type="text" value="$modified" v-model="sort_by">
								</dd>
							</dl>

							<dl class="col-3">
								<dt>Sort Order:</dt>
								<dd>
									<select name="sortOrder" id="sortOrder" v-model="sort_order">
										<option value="DESC">Descanding</option>
										<option value="ASC">Ascanding</option>
									</select>
								</dd>
							</dl>

						</div>

						<button type="button" v-on:click="search();">Search</button>
					</div>

					<!-- Search Result -->
					<div class="card">
						<h2>
							<span class="typcn typcn-world-outline"></span> Search Result <span
								class="pull-right"> <a v-show="page_index >0"><span
									class="typcn typcn-media-rewind" v-on:click="searchRewind()"></span></a>
								<span v-show="page_index <=0"
								class="typcn typcn-media-rewind-outline"></span> <a><span
									class="typcn typcn-media-fast-forward"
									v-on:click="searchForward()"></span></a>
							</span>
						</h2>
						<table id="imixsdatatable" class="imixsdatatable"
							style="width: 100%;">
							<thead>
								<tr>
									<th style="min-width: 296px;">UUID</th>
									<th style="min-width: 196px;">Created</th>
									<th style="min-width: 196px;">Modified</th>
									<th>Type</th>
									<th>Workflow Status</th>
									<th>Workflow Summary</th>
									<th></th>
								</tr>
							</thead>
							<tbody v-for="document in search_result">
								<tr>
									<td><a href="#"
										v-on:click="openDocument($event, document.$uniqueid[0].text)">{{document.$uniqueid[0].text}}</a></td>
									<td>{{document.getItem('$created')}}</td>
									<td>{{document.$modified[0].text}}</td>
									<td>{{document.type[0].text}}</td>
									<td>{{document.$workflowstatus[0].text}}</td>
									<td>{{document.$workflowsummary[0].text}}</td>
									<td><a><span
											class="typcn typcn-trash pull-right error"
											v-on:click="deleteDocument($event,document)"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- Document -->
				<div id="document" class="form-section">
					<div class="card">

						<h2>
							<span class="typcn typcn-folder-open"></span> Document: {{document.getItem('$uniqueid')}} <a><span
								class="typcn typcn-link"
								v-on:click="linkDocument($event, document)"></span></a> <a><span
								class="typcn typcn-arrow-forward pull-right"
								v-on:click="showSection('search')"></span></a>
						</h2>
						<table style="width: 100%; margin-top: 10px;">
							<thead>
								<tr>
									<th style="width: 170px;">Item</th>
									<th>Type</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody v-for="item in document.getItemNames()">

								<tr>
									<td>{{item}}</td>
									<td>{{document[item][0]['xsi:type']}}</td>
									<td>{{document.getItemList(item)}}</td>

								</tr>
							</tbody>
						</table>


					</div>
				</div>



				<!-- Bulk Update -->
				<div id="bulkupdate" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-world"></span> Bulk Query
						</h2>
						<textarea class="search-query" v-model="query" spellcheck="false"></textarea>
						<div class="row nested">
							<dl class="col-3">
								<dt>Page Size:</dt>
								<dd>
									<input type="text" v-model="page_size" name="pageSize"
										style="width: 7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Page Index:</dt>
								<dd>
									<input type="text" v-model="page_index" name="pageIndex"
										style="width: 7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Sort By:</dt>
								<dd>
									<input type="text" value="$modified" v-model="sort_by">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Sort Order:</dt>
								<dd>
									<select name="sortOrder" id="sortOrder" v-model="sort_order">
										<option value="DESC">Descanding</option>
										<option value="ASC">Ascanding</option>
									</select>
								</dd>
							</dl>
						</div>
					</div>
					<div class="card">
						<h2>
							<span class="typcn typcn-edit"></span> Update
						</h2>
						<div class="imixs-form-section-3">
							<dl>
								<dt>Field Name:</dt>
								<dd>
									<input type="text" name="fieldName" v-model="update_fieldname" />
								</dd>
							</dl>
							<dl>
								<dt>Field Type:</dt>
								<dd>
									<select name="fieldType" id="fieldType"
										v-model="update_fieldtype">
										<option>xs:string</option>
										<option>xs:int</option>
										<option>xs:long</option>
										<option>xs:float</option>
										<option>xs:double</option>
										<option>xs:boolean</option>
										<option>xs:dateTime</option>
									</select>
								</dd>
							</dl>
							<dl>
								<dt>Workflow Event (optional):</dt>
								<dd>
									<input type="text" value="0" name="workflowEvent"
										v-model="update_event" />
								</dd>
							</dl>
						</div>
						<div class="imixs-form-section-3">
							<dl>
								<dt>New Values: <span class="tooltip pull-right " style="font-size:1.1rem;">
							<span class="typcn typcn-lightbulb"></span>
							<span class="tip">Multi-Values can be
											separated by new lines. If you want to add a single value
											with multiple lines, than add '\n' at the end of a line. <br />
											Date values have to be formated as <br />'yyyy-mm-dd'.</span>
							 </span></dt>
								<dd>
									<textarea name="fieldValues" v-model="update_values"></textarea>
								</dd>
							</dl>
							<dl>
								<dt>Update Mode:</dt>
								<dd>
									<input type="checkbox" name="appendValues" value="true"
										v-model="update_append" /> Append Values <br />
								</dd>
							</dl>
						</div>
						<button type="button" v-on:click="bulkUpdate();">Start Update</button>
					</div>
				</div>





				<!-- Bulk Delete -->
				<div id="bulkdelete" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-world"></span> Bulk Query
						</h2>

						<textarea class="search-query" v-model="query" spellcheck="false"></textarea>
						<div class="row nested">
							<dl class="col-3">
								<dt>Page Size:</dt>
								<dd>
									<input type="text" v-model="page_size" name="pageSize"
										style="width: 7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Page Index:</dt>
								<dd>
									<input type="text" v-model="page_index" name="pageIndex"
										style="width: 7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Sort By:</dt>
								<dd>
									<input type="text" value="$modified" v-model="sort_by">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Sort Order:</dt>
								<dd>
									<select name="sortOrder" id="sortOrder" v-model="sort_order">
										<option value="DESC">Descanding</option>
										<option value="ASC">Ascanding</option>
									</select>
								</dd>
							</dl>
						</div>
					</div>
					<div class="card">
						<h2>
							<span class="typcn typcn-trash"></span> Bulk Delete
						</h2>

						<button type="button" v-on:click="bulkDelete();">Delete</button>
					</div>
				</div>









				<!-- Export -->
				<div id="export" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-upload-outline"></span> Export
						</h2>

						<textarea class="search-query" v-model="query" spellcheck="false"></textarea>
						<div class="imixs-form-section">
							<dl>
								<dt>Filepath:</dt>
								<dd>
									<input type="text" v-model="filepath" name="filepath" />
								</dd>
							</dl>
						</div>


						<button type="button" v-on:click="dataExport();">Export</button>
					</div>
				</div>



				<!-- Import -->
				<div id="import" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-download-outline"></span> Import
						</h2>
						<div class="imixs-form-section">
							<dl>
								<dt>Filepath:</dt>
								<dd>
									<input type="text" v-model="filepath" name="filepath" />
								</dd>
							</dl>
						</div>


						<button type="button" v-on:click="dataImport();">Import</button>
					</div>
				</div>








				<!-- AdminP -->
				<div id="adminp" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-spanner"></span> Admin-P
						</h2>


						<div class="imixs-form-section-3">
							<dl>
								<dt>Job:</dt>
								<dd>
									<select name="adminpjob" v-model="adminp_job">
										<option value="JOB_REBUILD_INDEX">Rebuild Index</option>
										<option value="RENAME_USER">Rename User</option>
										<option value="UPGRADE">Upgrade</option>
									</select>
								</dd>
							</dl>

						</div>
						<div class="imixs-form-section-3">
							<dl>
								<dt>Filter by document type:</dt>
								<dd>
									<textarea placeholder="comma separated list of document types"
										name="typelist" v-model="adminp_filter"></textarea>
								</dd>
							</dl>

							<dl>
								<dt>Filter by creation date:</dt>
								<dd>
									<input type="text" class="imixs-date" placeholder="yyyy-mm-dd"
										id="adminp_from" v-model="adminp_from"> - <input
										type="text" class="imixs-date" placeholder="yyyy-mm-dd"
										id="adminp_to" v-model="adminp_to">
								</dd>
							</dl>


							<dl>
								<dt>Blocksize / Interval in minutes:</dt>
								<dd>
									<input type="text" placeholder="500" name="numblocksize"
										style="width: 5em;" v-model="adminp_blocksize"> / <input
										type="text" placeholder="1" name="numinterval"
										style="width: 5em;" v-model="adminp_interval">
								</dd>
							</dl>
						</div>




					</div>


					<div class="card" v-show="adminp_job == 'JOB_REBUILD_INDEX'">
						<h2>
							<span class="typcn typcn-arrow-repeat-outline"></span> Rebuild
							Index
						</h2>
						<p>This job rebuilds the Lucene fulltext-index. Rebuilding the
							index may be necessary after a database restore, or in cases
							where the index has been deleted or corrupted. Rebuilding the
							index does not change any data. You can set optional filter
							criteria to limit the selection of the affected data.</p>
						<button type="button" v-on:click="adminP();">Start Job</button>
					</div>

					<div class="card" v-show="adminp_job == 'RENAME_USER'">
						<h2>
							<span class="typcn typcn-group-outline"></span> Rename User
						</h2>
						<p>This job updates the access control list (ACL) and
							permissions data of existing workitems. Data will only be changed
							in cases the id "From User-ID" is part of an workitem. You can
							set optional filter criteria to limit the selection of the
							affected data.</p>
						<div class="imixs-form-section-3">
							<dl>
								<dt>From User-ID:</dt>
								<dd>
									<input type="text" placeholder="enter userid"
										v-model="adminp_userfrom">
								</dd>
							</dl>
							<dl>
								<dt>To User-ID:</dt>
								<dd>
									<input type="text" placeholder="enter userid"
										v-model="adminp_userto">
								</dd>
							</dl>

							<dl>
								<dt>Full Replace:</dt>
								<dd>
									<input type="checkbox" id="renamefullreplace"
										v-model="adminp_userreplace" value="true">YES
								</dd>
							</dl>
						</div>
						<button type="button" v-on:click="adminP();">Start Job</button>
					</div>

					<div class="card" v-show="adminp_job == 'UPGRADE'">
						<h2>
							<span class="typcn typcn-arrow-up-outline"></span> Upgrade
						</h2>
						<p>This job upgrades the workflow data of existing workitems.
							Data will only be changed in cases a workitem was not processed
							by the current version of the Imixs-Workfow engine used in this
							instance. You can set optional filter criteria to limit the
							selection of the affected data.</p>
						<button type="button" v-on:click="adminP();">Start Job</button>
					</div>



					<!-- Running Jobs -->
					<div class="card">
						<h2>
							<span class="typcn typcn-world-outline"></span> Jobs <span
								class="pull-right"> <a><span
									class="typcn typcn-arrow-sync" v-on:click="loadAdminpJobs()"></span></a>

							</span>
						</h2>
						<table id="imixsdatatable" class="imixsdatatable"
							style="width: 100%;">
							<thead>
								<tr>
									<th>UUID</th>
									<th>Job</th>
									<th>Created</th>
									<th>Modified</th>
									<th>Status</th>
									<th>Processed</th>
									<th>Updates</th>
									<th></th>
								</tr>
							</thead>
							<tbody v-for="document in adminp_jobs">
								<tr>
									<td><a href="#"
										v-on:click="openDocument($event, document)">{{document.$uniqueid[0].text}}</a></td>
									<td>{{document.getItem('job')}}</td>
									<td>{{document.getItem('$created')}}</td>
									<td>{{document.$modified[0].text}}</td>
									<td>{{document.getItem('$workflowstatus')}}</td>
									<td>{{document.getItem('numprocessed')}}</td>
									<td>{{document.getItem('numupdates')}}</td>
									<td><a><span
											class="typcn typcn-trash pull-right error"
											v-on:click="deleteAdminPJob($event,document)"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


				<!-- Index -->
				<div id="index" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-map"></span> Index Schema
						</h2>
						<table style="width: 100%; margin-top: 10px;">
							<thead>
								<tr>
									<th style="width: 170px;">Index Field Group</th>
									<th>Items</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>index.fields</td>
									<td>{{index_fields}}</td>
								</tr>
								<tr>
									<td>index.fields.analyze</td>
									<td>{{index_fields_analyze}}</td>
								</tr>
								<tr>
									<td>index.fields.noanalyze</td>
									<td>{{index_fields_noanalyze}}</td>
								</tr>
								<tr>
									<td>index.fields.store</td>
									<td>{{index_fields_store}}</td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>
				
				
				
				<!-- Event Log -->
				<div id="eventlog" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-th-list"></span> Event Log
						</h2>
						
						
						<table id="imixsdatatable" class="imixsdatatable"
							style="width: 100%;">
							<thead>
								<tr>
									<th>Topic</th>
									<th>Created</th>
									<th>Id</th>
									<th>Ref</th>
									<th></th>
								</tr>
								
							</thead>
							<tbody v-for="document in event_logs">
								<tr>
									<td>{{document.getItem('topic')}}</td>
									<td>{{document.getItem('created')}}</td>
									<td>{{document.getItem('id')}}</td>
									<td><a href="#"
										v-on:click="openDocument($event, document.ref[0].text)">{{document.getItem('ref')}}</a></td>
									<td><a><span
											class="typcn typcn-trash pull-right error"
											v-on:click="deleteEventLog($event,document)"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
					
				</div>
				
				<!-- Models -->
				<div id="models" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-flow-merge"></span> Models
						</h2>
						<table id="imixsdatatable" class="imixsdatatable"
							style="width: 100%;">
							<thead>
								<tr>
									<th>Version</th>
									<th>Model File</th>
									<th>Updated</th>
									<th></th>
								</tr>
							</thead>
							<tbody v-for="document in models">
								<tr>
									<td>{{document.getItem('txtname')}} <a><span
										class="typcn typcn-link"
										v-on:click="linkModel($event, document)"></span></a></td>
									<td>{{getFileName(document)  }}</td>
									<td>{{document.getItem('$created')}}</td>
									<td><a><span
											class="typcn typcn-trash pull-right error"
											v-on:click="deleteModel($event,document.getItem('txtname'))"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
					<div class="card">
						<h2>
							<span class="typcn typcn-cloud-storage-outline"></span> Upload
						</h2>
						<div id="model-upload">
							<input id="model-input" type="file" name="files[]"  multiple />
							<div id="model-file-list-display"></div>
							<button type="button" v-on:click="uploadModel();">Upload</button>
							<button type="button" v-on:click="cancelUploadModel();">Cancel</button>
						</div>
					</div>
				</div>



				<!-- Message -->
				<div class="card message" v-show="message != ''">
					<p>
						<span class="typcn typcn-info-large"></span> {{message}}
					</p>
				</div>


				<!-- failure -->
				<div class="card error" v-show="error != ''">

					<p>
						<span class="typcn typcn-info"></span> {{error}}
					</p>

				</div>
			</form>
			</div>

			<div class="imixs-wait">
				<!-- empty -->
			</div>




			<!-- FOOTER -->
			<div id="imixs-footer">www.imixs.org</div>



		</div>
	</div>

</body>

</html>