<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="text/javascript" http-equiv="Content-Script-Type" />
<meta content="text/css" http-equiv="Content-Style-Type" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

<title>Imixs-Admin Client</title>


<!-- Fonts
    ================================================== -->
<link rel="stylesheet" type="text/css" href="css/fonts/open_sans.css" />
<link rel="stylesheet" type="text/css" href="css/fonts/typicons.css" />

<!-- jquery 
    ================================================== -->
<link rel="stylesheet" href="js/jquery-ui/jquery-ui.min.css" />




<script type="text/javascript" src="js/jquery/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>



<!-- Imixs-script -->
<script src="js/imixs-core.js"></script>
<script src="js/imixs-xml.js"></script>

<!-- vue -->

<script type="text/javascript" src="js/vue_2.6.10.js"></script>


<script type="text/javascript" src="button-template.js"></script>


<script src="imixs-admin.js"></script>

<!-- Style
    ================================================== -->
<link rel="stylesheet" href="css/imixs-basic.css" />
<link rel="stylesheet" href="css/imixs-layout.css" />
<link rel="stylesheet" href="css/imixs-admin.css" />




</head>
<body>
	<div id="app">
		<nav>
			<!-- Sidebar -->
			<div class="nav-sidebar">


				<div class="nav-title">
					<h4>
						<a
							href="#{facesContext.externalContext.requestContextPath}/imixsarchive">
							<label>Imixs-Admin</label>
						</a> <span class="pull-right typcn typcn-th-menu-outline"
							style="margin-right: 10px; cursor: pointer; margin-bottom: 20px;"
							onclick="togglemenu();"></span>
					</h4>

					<small><label>v5.1.0</label></small>


				</div>
				<hr />
				<ul>
					<li class="nav-item" v-on:click="showSection('search')"><span
							class="typcn typcn-zoom-outline"></span><label>Search</label></li>

				</ul>
				<hr />
				<ul>

					<li class="nav-item"><a
						href="#{facesContext.externalContext.requestContextPath}/inspect.xhtml"><span
							class="typcn typcn-edit"></span><label>Update</label></a></li>

					<li class="nav-item"><a
						href="#{facesContext.externalContext.requestContextPath}/resync.xhtml"><span
							class="typcn typcn-trash"></span><label>Delete</label></a></li>

					<li class="nav-item"><a
						href="#{facesContext.externalContext.requestContextPath}/restore.xhtml"><span
							class="typcn typcn-spanner"></span><label>Admin-P</label></a></li>

					<li class="nav-item" v-on:click="showSection('index')"><span
							class="typcn typcn-map"></span><label>Index</label></li>
				</ul>
				<hr />
				<ul>

					<li class="nav-item"><a
						href="#{facesContext.externalContext.requestContextPath}/export.xhtml"><span
							class="typcn typcn-upload-outline"></span><label>Export</label></a></li>

					<li class="nav-item"><a
						href="#{facesContext.externalContext.requestContextPath}/import.xhtml"><span
							class="typcn typcn-download-outline"></span><label>Import</label></a></li>



				</ul>



			</div>
		</nav>

		<!-- Page Content -->
		<div class="content">

			<div class="header">


				<div class="row">
					<div class="col-4">
						<span><strong>API: </strong><span
							v-show="connection_status >= 300"
							class="typcn typcn-warning error"></span><span
							v-show="connection_status < 200"
							class="typcn typcn-world-outline"></span><span
							v-show="connection_status == 200"
							class="typcn typcn-world-outline success"></span> {{api}}</span> 
							
							<span
							class="typcn typcn-cog" v-on:click="showSection('connect')"></span> 
							<span class="typcn typcn-power" v-on:click="logout()"></span>
					</div>
					<div class="searchbox col-4">
						<input></input><span class="typcn typcn-zoom-outline"></span>
					</div>
					<div class="linkbox col-4">
						<div class="pull-right">

							<ul>
								<li><a href="https://www.imixs.org" target="_blank"><span
										class="typcn typcn-mortar-board"></span></a></li>

								<li><a href="https://github.com/imixs" target="_blank"><span
										class="typcn typcn-social-github"></span></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>


			<div id="imixs-content" class="main-container">


				<!--  CONNECT Part -->
				<div id="connect" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-link-outline"></span> Connection
						</h2>
						<p>Connect to an Imixs-Workflow API endpoint.</p>
						<div class="imixs-form-section">
							<dl>
								<dt>URL:</dt>
								<dd>
									<input type="text" autocomplete="url" name="url" v-model="api"
										placeholder="enter api endpoint">
								</dd>
							</dl>
						</div>
						<div class="imixs-form-section-2">
							<dl>
								<dt>Authentication Method:</dt>
								<dd>
									<select name="authentication" v-model="auth_method">
										<option value="token">Token</option>
										<option value="basic" selected="selected">Basic</option>
										<option value="form">Form</option>
									</select>
								</dd>
							</dl>
							<dl v-show="auth_method == 'token'">
								<dt>Token:</dt>
								<dd>
									<input type="password" autocomplete="token"
										placeholder="Bearer Token" v-model="auth_secret" name="token">
								</dd>
							</dl>
						</div>
						<div class="imixs-form-section-2" v-show="auth_method != 'token'">
							<dl>
								<dt>UserID:</dt>
								<dd>
									<input type="text" autocomplete="userid" name="userid"
										placeholder="enter username" v-model="auth_userid">
								</dd>
							</dl>
							<dl>
								<dt>Password:</dt>
								<dd>
									<input type="password" autocomplete="password"
										placeholder="enter password" v-model="auth_secret"
										name="password">
								</dd>
							</dl>
						</div>
						<button v-on:click="apiConnect();">Connect</button>
					</div>

					<!-- failure -->
					<div class="card error" v-show="connection_status >= 300">

						<p>Failed to connect!</p>

					</div>
				</div>




				<!-- Search -->
				<div id="search" class="form-section">
					<div class="card">
						<h2>
							<span class="typcn typcn-world-outline"></span> Search Query
						</h2>
						<textarea class="search-query" v-model="query" spellcheck="false"></textarea>

						<div class="row nested">

							<dl class="col-3">
								<dt>Page Size:</dt>
								<dd>
									<input type="text" v-model="page_size" name="pageSize" style="width:7em;">
								</dd>
							</dl>
							<dl class="col-3">
								<dt>Page Index:</dt>
								<dd>
									<input type="text" v-model="page_index" name="pageIndex" style="width:7em;">
								</dd>
							</dl>

							<dl class="col-3">
								<dt>Sort By:</dt>
								<dd>
									<input type="text" value="$modified" v-model="sort_by">
								</dd>
							</dl>

							<dl class="col-3">
								<dt>Sort Order:</dt>
								<dd>
									<select name="sortOrder" id="sortOrder" v-model="sort_order">
										<option value="DESC">Descanding</option>
										<option value="ASC">Ascanding</option>
									</select>
								</dd>
							</dl>

						</div>
						
						<button v-on:click="search();">Search</button>
					</div>

					<!-- Search Result -->
					<div class="card">
						<h2>
							<span class="typcn typcn-world-outline"></span> Search Result
							
							<span class="pull-right">
								<a v-show="page_index >0"><span class="typcn typcn-media-rewind" v-on:click="searchRewind()"></span></a>
								<span  v-show="page_index <=0" class="typcn typcn-media-rewind-outline"></span>
								<a><span class="typcn typcn-media-fast-forward" v-on:click="searchForward()"></span></a>
							</span>
						</h2>
						<table id="imixsdatatable" class="imixsdatatable" style="width: 100%;">
							<thead>
							 <tr>
								<th>ID</th>
								<th>Created</th>
								<th>Modified</th>
								<th>Status</th>
								<th>Summary</th>
								<th></th>
							</tr>
						</thead>
							<tbody v-for="document in search_result">
								<tr>
									<td><a href="#"  v-on:click="openDocument($event, document)">{{ document.$uniqueid[0].text }}</a></td>
									<td>{{ document.getItem('$created')}}</td>
									<td>{{ document.$modified[0].text}}</td>
									<td>{{ document.$workflowstatus[0].text }}</td>
									<td>{{ document.$workflowsummary[0].text }}</td>
								</tr>
						</tbody>
						</table>
					</div>
				</div>


				<!-- Document -->
				<div id="document" class="form-section">
					<div class="card">
					
						<h2><span class="typcn typcn-folder-open"></span> Document: {{ document.getItem('$uniqueid') }}<a><span class="typcn typcn-arrow-forward pull-right" v-on:click="showSection('search')"></span></a></h2>
						<table style="width: 100%; margin-top: 10px;">
							<thead>
								<tr>
									<th style="width:170px;">Item</th>
									<th>Type</th>
									<th>Value</th>
								</tr>
							</thead>
							<tbody v-for="item in document.getItemNames()">
							
							    <tr>
							       <td>{{ item }}</td>
							       <td>{{ document[item][0]['xsi:type'] }}</td>
							       <td>{{ document[item][0].text }}</td>
							    
							    </tr>
							</tbody>
						</table>


					</div>
				</div>






				<!-- Index -->
				<div id="index" class="form-section">
					<div class="card">
						<h2><span class="typcn typcn-map"></span> Index Schema</h2>
						<table style="width: 100%; margin-top: 10px;">
							<thead>
								<tr>
									<th style="width:170px;">Index Field Group</th>
									<th>Items</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>index.fields</td>
									<td>{{index_fields}}</td>
								</tr>
								<tr>
									<td>index.fields.analyze</td>
									<td>{{index_fields_analyze}}</td>
								</tr>
								<tr>
									<td>index.fields.noanalyze</td>
									<td>{{index_fields_noanalyze}}</td>
								</tr>
								<tr>
									<td>index.fields.store</td>
									<td>{{index_fields_store}}</td>
								</tr>
							</tbody>
						</table>


					</div>
				</div>






				<!-- DEMO -->
				<div id="search" style="display: none">
					<h2>
						<span class="typcn typcn-world-outline"></span> Search Result
					</h2>



					<div class="card">

						<p>Required. The horizontal offset of the shadow. A positive
							value puts the shadow on the right side of the box, a negative
							value puts the shadow on the left side of the box</p>

						<custom-button></custom-button>

						<br />

						<display-number :number="4"></display-number>
					</div>


				

				</div>
				
				<div class="imixs-wait">
					<!-- empty -->
				</div>
				
				
			</div>

			<!-- FOOTER -->
			<div id="imixs-footer">www.imixs.org</div>


		
		</div>
	</div>
</body>

</html>